*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    background-color: #f5f7f8;
    padding: 40px 20px 0 28px;

}

#todo-ui{
    max-width: 1000px;
    margin: 0 auto;
    background-color: white;
}

header #logo{
    padding-left: 25px;
    padding-top: 20px;
}

header #title{
    display: inline-block;
    font-size: 50px;
    font-style:italic;
    vertical-align: bottom;
}

nav #button{
    padding: 8px;
    border-radius: 6px;
}

nav .first_button{
    background-color: #47adf1;
    color: white;
    margin-top: 30px;
    margin-left: 50px;
}

nav .second_button{
    background-color: white;
    color: lightgray;
}

hr{
    margin-top: 10px;
}
 
ul{
    list-style-type: none;
}

ul #list{
    font-size: 25px;
}

.margin_left{
    margin-left: 100px;

}

.check{
    color: green;
    border:1px solid green;
    border-radius: 50%;
    padding: 3px;
}

.size{
    font-size: 30px;
}


.color{
    background-color:#47adf1;
    border-radius: 45px;
    padding: 11px;
    color: white;
    margin-left: 10px;
}

ul{
    margin-top: 65px;
}
.size_2{
    font-size: 30px;
    margin-top: 15px;
}

.space{
    margin-top: 20px;
}

.color_2{
    background-color:#9c72e4;
    border-radius: 45px;
    padding: 11px;
    color: white;
    margin-left: 10px;
}

.check_2{
    color: red;
    border:1px solid red;
    border-radius: 50%;
    padding: 3px;
}

.color_3{
    background-color:#64C0A9;
    border-radius: 45px;
    padding: 11px;
    color: white;
    margin-left: 10px; 
}

.color_4{
    background-color:#F29E33;
    border-radius: 45px;
    padding: 11px;
    color: white;
    margin-left: 10px; 
}

.color_5{
    background-color:#D863A1;
    border-radius: 45px;
    padding: 11px;
    color: white;
    margin-left: 10px; 
}

.color_6{
    background-color:#B0C926;
    border-radius: 45px;
    padding: 16px;
    color: white;
    margin-left: 10px;
}
