*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header #logo{
    padding-left: 25px;
    padding-top: 20px;
}

header #title{
    display: inline-block;
    font-size: 50px;
    font-style:italic;
    vertical-align: bottom;
}

nav #button{
    padding: 8px;
    border-radius: 6px;
}

nav .first_button{
    background-color: #47adf1;
    color: white;
}

nav .second_button{
    background-color: white;
    color: lightgray;
}

hr{
    margin-top: 10px;
}

ul #list{
    font-size: 25px;
}

.check{
    color: green;
    border:50px,solid,green;
    border-radius: 50%;
}


.color{
    background-color:#47adf1;
    border-radius: 14px;
    padding: 9px;
}